@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Sometype+Mono&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
    background-color: #ebebeb;
  


}

header{
    background-color:#EAC926;
    padding: 10px 16px 6px 16px;
}

main{
    padding: 10px;
    width: 90vw;
    
    margin: auto;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    width: 45%;
}
.header-search{
    width: 45%;
    margin: 15px;
}
.header-search_form{
    position: relative;
}
.header-search_form input{
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;


}
.header-search_form input:focus{
    outline-color: #1259c3;
    
}

.header-search_form a{
    text-decoration: none;
    color: #666;
}
.header-search_form a i{
    margin: 3px;
    padding: 9px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 20%;
   
}



.header-title{
    font-size: 14px;
}
.header-navbar{
    display: none;
}

.header-navbar ul{
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding: 0px;
}
.header-navbar ul li{
    margin: 0px 10px;
}
.header-navbar ul li a{
    text-decoration: none;
    color: black;
}
.header-burgerMenu{
    text-align: center;
    
}

.header-burgerMenu i {
    text-align: center;
    padding: 8px 10px 8px 10px;
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    font-size: 25px;
    margin: 10px;
}

img{
    display: block;
}


article{
  margin-bottom: 10px;
}
.article-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 700ms;
}
.article-truck:hover{
    cursor: pointer;
    transform: rotate(-90deg);
}

.articulo i{
    color: #39b54a;
}

.article-image{
    width: 100%;
}

.article-info{
    font-size: 16px;
    border-top: 1px #ebebeb solid;
    background-color: white;
    padding: 8px 8px 6px 15px;
    position: relative;
    
}
.article-info_flex{
    width: 60%;
    display: flex;
}
.article-price {
    font-size: 18px;
    margin: 5px 0px;
    flex-grow: 0.3;
   
}
.article-info h4 {
    margin-top: 20px;
    opacity: 0;
    transition: 0.3s ease;
  
}

.article-info h4:hover{
    opacity: 1;
}

.article-offer{
    color: #39b54a;
    font-weight: 400;
    margin: 5px 0px; 
    flex-grow: 0.7;
}

.subtitle{
    font-size: 24px;
    color: #666;
}



footer{
    padding: 30px;
    margin: 5px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.i{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
}
.footer h4{
    margin: 0px;
}
.footer p{
    font-size: 12px;
    margin: 0px;

}

.copy {
    color: #666;
    font-size: 12px;
    margin: 0px;
    align-items: center;
}
.i:hover{
    color: rgb(1, 1, 83);

}

@media (min-width: 361px){
    .article-info h4{
        display: block;
    } 
}

@media (min-width: 769px){
    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .header-navbar{
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .header-burgerMenu{
        display: none;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
      
    }
    .articulo{
        width: 40%;
        margin: 30px 20px;

    }
    .subtitulos{
        margin: 30px 0px 0px 30px;
    }
    .header-logo{
        width: 30%;
    }
    .header-search{
        width: 30%;
    }
    .header-search_form input{
        width: 100%;
    }
    .header-search_form a i{
        right: 0%;
    }
    .header-title{
        text-align: right;
    }
}

@media (min-width: 1024px){
    .articulo{
        width: 20%;
    }
    .article-info_flex{
        width: 100%;
    }
    .footerflex{
        display: flex;
        flex-direction: row;
    }
    
    .copy{
        padding-top: 20px;
    }
}

/* login */
.loginmain {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form input [type="text"],
form input [type="password"],
form input [type="submit"]{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

form input[type="submit"]:hover{
    padding: 10px;
    border: 1px solid #0B57D0;
    border-radius: 5px;
    background-color:#0B57D0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    color: white;
}

.errorOlvido{
    text-align: center;
    color: black;
}


/* registro */

main.registro {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/*
form {
    display: flex;
    flex-direction: column;
}
*/
form h4 {
    margin: 20px 0 10px 0;
    font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"],
form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    width: 100%;
}

form input[type="reset"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    width: 100%;
}

form input[type="reset"]:hover {
    background-color: #f44336;
}

form input[type="submit"]:hover {
    background-color: #0B57D0;
    cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    opacity: 0.9;
}

.error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

input[type="email"]:invalid + .erroremail {
    display: inline;
}

.profile {
    display: flex;
    flex-wrap: wrap;
}

.interests {
    display: flex;
    flex-direction: column;
}

.profile input[type="radio"] + label,
.interests input[type="checkbox"] + label {
    margin-right: 20px;
}
